
  body{
    background-color: rgb(119, 1, 1);
  }
  .custom-cards{
    background-color: rgb(178, 178, 24);
  }
  .custom-button{
    background-color: rgb(136, 28, 28);
    color: beige;
  }
  .custom-button:hover{
    background-color: rgb(92, 4, 4);
  }

  

  @media screen and (max-width:424px) {
    
    div iframe{
        width: 500px;
        height: 300px;
    }
    
  }

  @media screen and (max-width:768px) {
    
    div iframe{
        width: 600px;
        height: 400px;
    }
    
  }
